{{! This is the post loop - each post will be output using this markup }}
<ul class="post-list">
  {{#get "tags" limit="all" order="updated_at desc" as |tags|}}
    {{#foreach tags}}
      <li class="post-category">{{name}}
        {{#get "posts" limit="all" order="published_at desc" filter="tags:{{slug}}"}}
          <ul class="post-category__items">
            {{#foreach posts}}
              <li class="post-category__item"><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
          </ul>
        {{/get}}
      </li>
    {{/foreach}}
  {{/get}}
</ul>

<div class="pagination" style="display: none;">
  {{! Previous/next page links - displayed on every page }}
  {{pagination}}
</div>
