{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{#if image}}
  <header class="main-header post-head" style="background-image: url({{image}})">
    <nav class="main-nav overlay clearfix">
      <a class="back-button back-button--on-image icon-arrow-left" href="{{@blog.url}}">anything!!!!</a>
    </nav>
    <div class="image-post-title__wrapper">
      <h1 class="image-post-title">{{title}}</h1>
    </div>
  </header>
{{else}}
  <header class="basic-header">
    <h1>{{title}}</h1>
  </header>
{{/if}}

<main class="content" role="main">

    <article class="post-body {{post_class}}">
        <section class="post-content" data-typeset>
            {{content}}
            <br>
            <hr>
            <a class="site-nav__link" href="{{@blog.url}}">Read something else</a>
        </section>
    </article>

</main>

{{/post}}
